@import '~bootstrap/scss/bootstrap';

$button-colors: #357A74;
$blanco: #fff;
$backgrounds: #FAF0D3;
$font-hang: 'Quattrocento', serif;

body {
  text-align: center;
  background-color: $backgrounds;
  font-family: $font-hang;
}

.hang_title {
  text-align: center;
}

#message {
    font-size: 28px;
    color: $button-colors;
  }


//  -------- Hang content styling ----
.content {
  max-width:80%;
    max-height:800px;
   margin:2rem auto;
   padding:2rem;
   border-radius:5px;
  text-align: left;
  font-weight: bold;
  left: 10%;
}

.hang_section {
  max-width:100%;
    max-height:800px;
   margin:2rem auto;
   border:2px solid $button-colors;
   padding:2rem;
   border-radius:5px;
      @include make-row;
  text-align: left;
  font-weight: bold;
  left: 10%;
}

//  ------- Button stuff ---
.btn-hang {
  background-color: $button-colors;
}

.btn-hang:hover {
  color: $blanco;
}

.btn-sign-out {
  background-color: $button-colors;
  position: absolute;
  top: 0px;
  right: 50px;
}

.btn-sign-out:hover {
  color: $blanco;
}

.dropdown-toggle {
  background-color: $button-colors;
}

.btn-sign {
    background-color: $button-colors;
}

.btn-sign:hover {
  color: $blanco;
}
